<!-- 日记本功能按钮组 -->
<div class="diary-plugin-buttons">
    <!-- 日记本按钮 -->
    <div id="diary_book_btn" class="diary-function-button" title="查看现有日记">
        <i class="fa-solid fa-book"></i>
        <span class="diary-button-text">日记本</span>
    </div>
    
    <!-- 写日记按钮 -->
    <div id="diary_write_btn" class="diary-function-button" title="开始写日记">
        <i class="fa-solid fa-pen"></i>
        <span class="diary-button-text">写日记</span>
    </div>
    
    <!-- 记录按钮 -->
    <div id="diary_record_btn" class="diary-function-button" title="手动解析最新AI回复中的日记内容">
        <i class="fa-solid fa-save"></i>
        <span class="diary-button-text">记录</span>
    </div>
</div>
